<main class="container" *ngIf="true">
  <app-blob-to-safe-url></app-blob-to-safe-url>
  <hr />
</main>
<main class="container" *ngIf="false">
  <div class="page-header px-3 py-3 mx-auto text-center">
    <h3 class="font-weight-normal text-center circle green">{{title}}</h3>
  </div>
  <app-subscription-test></app-subscription-test>
  <app-aysha-bootstrap4></app-aysha-bootstrap4>
  <app-blob-download></app-blob-download>
   <!-- 
  <app-css-learn3></app-css-learn3>
  <hr />
  <app-image-zoom></app-image-zoom>
  <app-magnifier></app-magnifier> -->
  <hr />
  <app-aysha-bootstrap4></app-aysha-bootstrap4>
</main>