.rnd1 .circles {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.rnd1 .circle  {
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
    
    width: 25vw;
    height: 25vw; 
    margin: 0.2em;
    font-size: 3vw;
    border-radius: 50%;
    border: 5vw solid gray;
}
.rnd1 .circle.green
{
  	border: 5vw solid green; 
}
.rnd1 .circle.green >.text
{
  	color: green;
}
.rnd1 .circle.red
{
  	border: 5vw solid red; 
}
.rnd1 .circle.red >.text
{
  	color: red;
}
