<h1>Image Magnifier Glass</h1>

<p>Mouse over the image:</p>
<!-- https://wittlock.github.io/ngx-image-zoom/assets/fullres.jpg 
https://scontent-sin6-3.xx.fbcdn.net/v/t1.15752-9/150895136_123185509716345_398625516960877184_n.jpg?_nc_cat=110&ccb=3&_nc_sid=ae9488&_nc_eui2=AeHFSNYPKC7g4BnqoJnKby_YayAD3eWOI9hrIAPd5Y4j2Eyn75IAKmbh7Ha0vvb63nw&_nc_ohc=9qBbH-s6p8QAX_bPg8D&_nc_ht=scontent-sin6-3.xx&oh=d382d5de9572b79eac9fef9470fd05c9&oe=60641EF1
-->
<div class="img-magnifier-container">
  <img id="myimage" src="https://wittlock.github.io/ngx-image-zoom/assets/fullres.jpg" width="600" height="400">
</div>

<p>Feel free to change the strength of the magnifier glass when initiating the magnify function.</p>